@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-white text-gray-900 font-sans scroll-smooth;
}

h1,
h2,
h3 {
  @apply font-bold;
}


.navlink-button {
  @apply px-4 py-2 rounded transition-all duration-300 cursor-pointer;
  &:hover {
    @apply bg-amber-500 text-white shadow-md;
  }
}

.primary-button {
  @apply py-3 px-6
  rounded-full font-semibold 
   bg-amber-500 text-white shadow-sm
   transition-all duration-300 cursor-pointer;
  &:hover {
    @apply bg-amber-600 shadow-md;
  }
}

.favorite-button {
  @apply py-3 px-6
  rounded-full font-semibold 
   bg-white shadow-sm
   transition-all duration-300 cursor-pointer;
  &:hover {
    @apply bg-red-100 shadow-md;
  }
}

.product-card {
  @apply bg-white rounded-2xl shadow-sm overflow-hidden
   transition-all duration-300 cursor-pointer;
  &:hover {
    @apply shadow-md;
  }
}
