@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-zinc-50 text-zinc-900 font-sans;
}

.navlink-button {
  @apply px-4 py-2 rounded transition-all duration-300;
  &:hover {
    @apply bg-amber-500 text-white shadow-md;
  }
}

.primary-button {
  @apply py-3 px-6
  rounded-full font-semibold 
   bg-amber-500 text-white shadow-sm
   transition-all duration-300 cursor-pointer;
  &:hover {
    @apply bg-amber-600 shadow-lg;
  }
}
.secondary-button {
  @apply py-3 px-6
  rounded-full font-semibold 
   bg-white shadow-sm
   transition-all duration-300 cursor-pointer;
  &:hover {
    @apply bg-zinc-200 shadow-lg;
  }
}

.product-card {
  @apply rounded-2xl shadow-sm overflow-hidden
   transition-all duration-300 cursor-pointer;
  &:hover {
    @apply shadow-md;
  }
}
